$dropdown-list_item-color: #0EAEC7;
$active-element:#0698B6;
body {
	margin:0;
	overflow: auto;
}

.full-width {
	width:100%;
	padding:0;
}
.nav-styling {
	background-color: $primary-color;

}

.full-width-content-background {
	background-color: $secbackground;
	padding-top: 50px;
}

.title-bar {
	background-color:transparent;
	height:100px; 
	justify-content:flex-end;

	.menu-icon {

	}
}
.top-bar {
	background-color: transparent;
	padding-top:0px;


	ul {

		height:94px;	

			a {
				color: $white;

				.profile-picture {
					height:90px;
					width:140px;
					border-radius:10px;
				}
	}
}

	.top-bar-left {

		ul {
			background-color:transparent;
			display: flex;
			flex-wrap: wrap;



						.company-logotype-container {

						a {
							padding-right: 5px;

								.company-logotype-content {
									height: 5.1rem;
									width: 5.1rem;
								}

						}

					}

					.profile-picture-container {

						a {
							padding-left:0px;

								.profile-picture-content {
									height: 5.2rem;
									width: 7.2rem;
									border-radius:10px;
								}


						}

					}

					.bio-settings-container {

						a {
							font-size:1.5rem;
							padding: 19px 0 0 0;
							text-align: center;
						}

						.settings-container {
							height:80px;
							position: relative;
    						bottom: -20px;
    						left: 0;

							li {

								a {
									padding: 0.2rem 1.2rem;
									font-size:1rem;

									svg {
										height:20px;
										width: 20px;
									}


								}

							}
						}
					}

		}
	}

	.top-bar-right {

		ul {
			background-color:transparent;

			.search-input-spot {
				display: flex;
    			align-items: center;
    			width: 50px;
    			height: 100px;


				.input-search {
					width:0;
					max-width:500px;
					margin-right: 0;
					padding:0;
					margin:0;
					top:11px;
					height:77px;			
					transition: ease-in-out 1s;
					border:0px;
					position:absolute;
					right:32px;
					top:11px;
					border: 0px $white solid;
					border-radius: 10px;
				}

				.expand-search {
						width: 463px;
						border: 1px #fff solid;
						position: absolute;
						right: 33px;
						top: 11px;
						height: 77px;
						padding-left: 10px;
						border-radius: 10px;
						border: 1px $white solid;
					}

				.btn-search {
					fill:$white;
					z-index:10;
					background-color: transparent;
					cursor: pointer;
					width: 40px;
    				height: 70px;
    				position: relative;

					svg {
						height: 65px;
    					width: 30px;

						&:hover{
							color:$primary-color;
						}
					}

				}

				.btn-search-active {
					fill:$primary-color;
					@extend .btn-search;

				}

			}

			li {

				a {
					text-transform: uppercase;
					fill:$white;
					font-size:0.9rem;

					&:focus {
						background-color:$active-element;

					
					}

					svg {
						height:65px;
						width:30px;
						display: block;
						margin: 0 auto;

					}
				}
				.dropdown-analyse {
						background-color:$dropdown-list_item-color;
						height:auto;
					}


			}
		}


	}



}


.layout {
	display: flex;
	margin:0 auto;
	background-color: #e3e7ea;
	height:100vh;
}

.finance-headers {
	font-size:1.1em;
	margin:0;
}

.text {
	font-size: 1.0em;
}
.content-containter {
	
	ul {
		margin-left: 0;
		li {
			list-style:none;
			
		}
	}
}
.diagram {
	width: 100%;
    height: 250px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
}

.background {
	background-color: black;
	padding: 0;
	text-align: center;
}
.background-grey {
	padding:0;
	display: flex;
}

.products {
	.options-content:nth-child(5) {
		background-color: $primary-color;
		ul {
			li {
				svg {
					fill:white;
				}
			}

		}
	}
}
.options-content {
	margin-left:0;
	margin-right:10px;
	background-color: $white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 14px 10px 15px;


    &:hover {
    	background-color: $primary-color;
    	color:black;
    }
	
	ul {



		li:nth-child(2) {
	 	margin-left:0;

		}
		.select {
	    	width:40px;
	    	height:80px;
	    	display: flex;
    		align-items: center;

	    	svg {
		    		height: 80%;
					width: 95%;
					fill: #77797a;

					&:hover {
						fill:$white;
					}
		}
  	}

    ul {
    	li {
    		padding: 0 0 0 8px;

    		a {
	    		text-decoration: none;
	    		color:black;
	    	}
    	}
    }
}
}

//stop

.history-content {
	padding-right:0px;
	height: 400px;
    width: 100%;
    background-color: $white;
    margin-bottom: 100px;
    border-radius: 5px;
    overflow: auto;
    padding-left:0;
}
.history-list {
		border-bottom: 0.2px solid grey;
		width:100%;
		display: block;
	    background: $white;
	    padding: 8px 5px;
	    border-bottom: 1px solid #e7e9eb;
	    line-height: 12px;
	    overflow: hidden;
	    cursor: pointer;
	    position: relative;
	    margin-left:0;
	    padding-left:0;

	ul {
		list-style: none;
		}
	}
.history-elements {
	font-size: 1rem;
}

.btn-background-none {
	background-color: transparent;
	color: black;
}
.primary-cta-btn {
	text-transform: uppercase;
}

.button {
	background-color: #primary-color;
}

.section-title-content {
	font-size: 16px;
	padding-left: 10px;
	background-color: $secbackground;
}
.chart-container {
	position: relative;
	width:100%;
	height:100%;
	margin:auto;
}
.vertical__center {
	line-height: 80px;
	margin:0;
}
.icon__size {
	width:1.5rem;
	padding: 0 0 20px 0;
}
.profile__container {
	height:100%;
	width:100%;
}
.profile__container-picture {
	width: 6.1rem;

		img {
			border-radius: 15px;
			padding: 10px 0px 10px 0px;
			height:100%;
			width:100%;
		}
}
.switch {
	display: inline-block;
	font-size:.7rem;

	p {
		color:black;
		display: inline-block;
		position: relative;
		top: -11px;
		padding: 0 20px 0 0;
		padding: 0 20px 0 0;
		font-size: 1.5em;
	}
}
.income {
	font-weight: bold;
	color:#6eb512;
}

.outcome {
	font-weight: bold;
}

.dashboard-layout {
	height:auto;
}
.history-card {
	height:100vh;
	background-color:$secbackground;
	display:none;
}
