body,
html {
	width: 100%;
	height: 100%;
	display: flex;
	color: $white;
}
$primary-color: #13bdd2;
$button-background: #fff;
$button-second-background: #42cadb;
$white: #fff;

.container {
	background-image: url("../img/background.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:flex;
 	justify-content: center;
 	align-items: center;


	.content {
		height: 100%;
	}

	.efi {
		height: 140px;
		width: 140px;
		padding-right: 5px;
	}
 .squize {
	 justify-content:space-around;
	 display: flex;
	 max-width: 700px;
	 max-height: 686px;
 }
	.card {
		max-width: 546px;
		max-height: 606px;
		background-color: $primary-color;
		z-index: 2;
		align-items: center;
		border: 1px $primary-color;
		border-radius: 5px;

		h1 {
			margin-top: 31px;
			font-size:40px;
 			height: 40px;
			font-stretch: condensed;
		}
		h1, p {
			color:$white;
		}
		p {
			font-size: 15px;
		}


		.portrait {
			width: 94px;
			height: 94px;
			border-radius: 50%;
			background-color: $button-background;
			text-align: center;
			margin: 0 auto;
			position: relative;
			top: 50px;
		}

		.frame {
			width: 489px;
			height: 253px;
			z-index: 5;
			padding: 0 28px 29px;
			border-radius: 5px;
			box-sizing: border-box;
			margin-bottom: 125px;

			.btw {
				z-index: 6;
				width: 100%;
				height: 100%;
				position: relative;
				top: -185px;
			}

			.content {
				z-index: 1;
				flex-direction: column;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				border: 1px solid rgba(255, 255, 255, 0.22);
			}
		}
	}
}

.space {
	padding-top: 22px;
	display: flex;
	justify-content: center;

	.cta {
		width: 118px;
		height: 31px;
		background-color: $button-background;
		color: black;
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 1rem;
		font-family: inherit;
		padding: 0.85em 1em;
		line-height: 0.5;
		border-radius: 5px;
		opacity: 5;
	}

	.select {
		background-color: $primary-color;
		color: white;
		padding-right: 20px;
		width: auto;
		box-sizing: border-box;
		line-height: 0.5;
		height: 11px;
		font-size: 15px;
		letter-spacing: -0.4px;
		font-weight: 300;
		text-transform: uppercase;
		font-stretch: condensed;
		opacity: 0.83;
	}
}

.wrap {
	display: flex;
	max-width: 409px;
	max-height: 39px;
  justify-content: center;
  align-items: baseline;


	label {
		height: 35px;
		width: 90%;
		max-width: 409px;
		max-height: 35px;
	}

	.custominput {
		margin-left: 22px;
		margin-right: 10px;
		max-height: 35px;
		border-radius: 5px;
		box-shadow: inset 0 1px 0 0 grey;

		&:focus {
			border: 1px solid #21A179;
			box-shadow: inset 0 0 5px 1px rgba(33,161,121,1);
		}
	}

	.alert {
		box-shadow: inset 0 0 5px 1px rgba(161,34,59,1);
	}

	.icon {
		width: 26px;
		height: 14px;
	}
}

.logins {
	margin-top:74px;
	display: flex;
	justify-content: center;
	width:100%;
	text-align: center;

	.hide {
		display:none;
	}
	.login {
		width: 409px;
  	height: 35px;
	}

	.logToInput {
		margin-right: 5px;
		font-weight: bold;
		line-height: 20.5px;
	}

	.btnlog {
		width: 18px;
		height: 18px;
		background-color: $button-second-background;
		border-radius: 50%;
		color: $white;
		padding: 2px;
		font-size: 8px;
	}
}

.pass {
	margin-top: 5px;
}
.wrap::before{
	content: '';
    position: absolute;
    left: 19%;
    top: 52.9%;
    width: 0;
    z-index: 6;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
		display:none;
}
.wrap.InvaildPass::before {
	display: block;
}

.wrap::after{
	content: '';
	position: absolute;
	left: 13%;
	top: 54%;
	width: 0;
	z-index: 6;
	height: 0;
	border-style: solid;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent #fff transparent;
	display:none;
}

.wrap.InvaildLogin::after {
display: block;
}
