html, body {
	width:100%;
	height:100%;
	display: flex;
	color:$white;
}
$primary-color:#13bdd2;
$button-background: #fff;
.container {
	background-image: url("file:///C:/Users/Robert/website2/img/bg.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	height:100%;

		.content {
			align-items:center;
			display:flex;
			justify-content: space-around;
			align-content: center;
			vertical-align: middle;
			height:100%;

				.divide {
				 display: flex;
				 justify-content:space-around;
				 flex-direction: row;
				 align-items:flex-start;
				}
				.efi {
					height: 80%;
					width: 80%;
					padding-right:10px;
				}
		}

			.card {
				width: 546px;
  			height: 606px;
				background-color: $primary-color;
				z-index: 2;
				align-items: center;
				border: 1px $primary-color;
				border-radius: 5px;

				h1, h2, h3, h4, h5, h6 {
				color: white;
				text-align: center;
				}

				.circle {
					width: 94px;
	  			height: 94px;
					border-radius: 50%;
					background-color: $button-background;
					text-align: center;
					margin: 0 auto;
					position: relative;
  			  top: 45px;

				}

				.frame {
					  width: 489px;
					  height: 253px;
						z-index: 5;

						.btw {
							z-index: 6;
							width: 100%;
					    height: 100%;
					    position: relative;
					    top: -185px;
						}

						.content {
							display: flex;
							z-index: 1;
							flex-direction: column;
							opacity: 0.22;
							width:100%;
							height:100%;
							border-radius: 5px;
						  border: solid 1px #fff;
						}

					}

			}

}
.space {
	padding-top:22px;
	display: flex;
	justify-content: center;

	.cta {
		width: 118px;
		height: 31px;
		background-color:$button-background;
		color:black;
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 1rem 0;
		font-family: inherit;
		padding: 0.85em 1em;
		line-height: 0.5;
		border-radius: 5px;
		opacity:5;
	}
	.select {
		@extend .cta;
		background-color:$primary-color;
		color:white;
		padding-right:20px;
		width: auto;
		box-sizing:border-box;
		line-height: 0.5;
		height: 11px;
		font-size:15px;
		letter-spacing: -0.4px;
		font-weight:300;
		font-family: Roboto;
		text-transform: uppercase;
		font-stretch: condensed;


	}

}

.wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-items: center;
	justify-content: space-evenly;

	label {
		height: 35px;
    width: 90%;
    max-width: 409px;
    max-height: 35px;
	}


		.custominput {
			max-height: 35px;
			border-radius: 5px;
			box-shadow: inset 0px 1px 0 0 grey;

  		&:focus {
	    border:1px solid #21A179;
	    box-shadow: inset 0px 0px 5px 1px rgba(33,161,121,1);
		  }
		}
		.alert {
		box-shadow: inset 0px 0px 5px 1px rgba(161,34,59,1);
			}

		.icon {
			width: 26px;
  		height: 14px;
		}
}
