body {
	margin:0;
	overflow: auto;
}

.full-width {
	width:100%;
	padding:0;
}
.nav-styling {
	background-color: #13bdd2;

}

.full-width-content-background {
	background-color: #d3d3d3;
	padding-top: 65px;
}
.top-bar {
 background-color: $primary-color;
 height:100px;
 padding: 0 14px 0 15px;

	 ul {
	 	background-color: transparent;
		list-style: none;

	 	li {
	 		a {
	 			color:$white;
			    height: 100px;
			    text-align: center;
			    align-content: center;
			    vertical-align: middle;
			    justify-content: center;
			   	line-height: 131px;
				font-size: 0.7em;
	 		}
	 	}
	 }
}
.efi {
		height: 5.5rem;
		width: 5.5rem;
		padding: 10px 5px 0 0;
	}
.layout {
	display: flex;
	margin:0 auto;
	background-color: #e3e7ea;
	height:100vh;
}

.finance-headers {
	font-size:1.0rem;
}

.text {
	font-size: 0.8em;
}
.content-containter {
	
	ul {
		margin-left: 0;
		li {
			list-style:none;
			
		}
	}
}
.diagram {
	width: 100%;
    height: 250px;
    background-color: #fff;
    margin-bottom: 30px;
}

.background {
	background-color: black;
	padding:0;
	text-align: center;
}
.background-grey {
	padding:0;
	display: flex;
}
.options-content {
	margin-left:0;
	margin-right:10px;
	background-color: white;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
    list-style: none;

   ul {
    	list-style: none;

    	li {
    		padding: 0 10px 0 0;
    	}
    }
   
}

.history-content {
	padding-right:0px;
	height: 400px;
    width: 100%;
    background-color: white;
    margin-bottom: 100px;
    border-radius: 5px;
    overflow: auto;
    padding-left:0;
}
.history-list {
		border-bottom: 0.2px solid grey;
		width:100%;
		display: block;
	    background: #fff;
	    padding: 8px 5px;
	    border-bottom: 1px solid #e7e9eb;
	    line-height: 12px;
	    overflow: hidden;
	    cursor: pointer;
	    position: relative;
	    margin-left:0;
	    padding-left:0;

	ul {
		list-style: none;
		}
	}
.history-elements {
	font-size: 0.8rem;
}

.btn-background-none {
	background-color: transparent;
	color: black;
}
.primary-cta-btn {
	text-transform: uppercase;

	&:focus  {
			background-color: black;

			&:after {
					position:absolute;
					left:50%;
					width:10px;
					height:10px;
					border-radius: 10px;
					}	
		}
	
}

.button {
	background-color: #primary-color;
}

.top-bar-section {
}

.section-title-content {
	font-size: 16px;
	padding-left: 10px;
	background-color: #d3d3d3;
}
.chart-container {
	position: relative;
	width:100%;
	height:100%;
	margin:auto;
}