
body {
	margin:0;
	overflow: auto;
}

.full-width {
	width:100%;
	padding:0;
}
.nav-styling {
	background-color: #13bdd2;

}

.full-width-content-background {
	background-color: $secbackground;
	padding-top: 65px;
}
.top-bar {
 background-color: $primary-color;
 height:100px;
 padding: 0 14px 0 15px;

	 .top-bar-section {

	 	a {
				&:focus  {
					background-color: black;
				
					&::after {
						display: block;
						content: '';
						position: relative;
						left: 42%;
						border-width: 0 5px 10px 5px;
						border-radius: 10px;
						background-color: black;
						top: 20%;
						width: 10px;
						height: 10px;
						}
				}	
		 }
	}
		 ul {
		 	margin:0;
			  padding:0;
			  display:flex;
			  background-color: transparent;

			  .separator-line {
			  	content: '';
				width: 5rem;
				height: 1px;
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				top: 37px;
				right: 57px;
				background-color: #fff;
				position: relative;
			  }
			  .logout-btn {


			  	svg {
			  		fill:#e21a61;
			  	}
			  }

			.has-form {
		 			margin-left: 3rem;
		 			margin-top:50px;
					border-radius: 5px;
					display:none;
					
					input {
						padding-left:20px;
						border-radius: 5px;
						
						}
		 	}

		 	.search {
		 		margin-left:30px;

		 	}


		 	li {
		 		list-style:none;
				  width:80px;
				  text-align:center;

		 		a {
		 			color:$white;
				    height: 100px;
					font-size: 0.7em;
					text-decoration:none;

					svg {

					  height:80%;
					  width:100%;
					  fill:$white;
					}

					&:focus  {
						background-color: black;
					}	
		 		}
		 	}
		 }
}

.efi {
		height: 5.5rem;
		width: 5.5rem;
		padding: 10px 0px 0 0;
	}
.layout {
	display: flex;
	margin:0 auto;
	background-color: #e3e7ea;
	height:100vh;
}

.finance-headers {
	font-size:1.1em;
	margin:0;
}

.text {
	font-size: 1.0em;
}
.content-containter {
	
	ul {
		margin-left: 0;
		li {
			list-style:none;
			
		}
	}
}
.diagram {
	width: 100%;
    height: 250px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
}

.background {
	background-color: black;
	padding: 0;
	text-align: center;
}
.background-grey {
	padding:0;
	display: flex;
}
.options-content {
	margin-left:0;
	margin-right:10px;
	background-color: $white;
    border-radius: 5px;
    margin-bottom: 10px;
    list-style: none;
    padding:15px;
    
    &:hover, .wallet_active:hover   {
		background-color: $primary-color;
		display:block;
    }	

    ul {
    	li {
    		padding: 0 0 0 8px;
    	}
    }
}

//inactive icons
.icon--state {
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: auto;
	background-image: url(../img/roller.png);
}

//wallet
.wallet {
	background-position: -2px -7px;
	opacity: .6;
	@extend .icon--state;
	
	&:hover {
		@extend .wallet_active;
	}
}
//savings icon
.savings {
	background-position: -2px -117px;
	opacity: .6;
	@extend .icon--state;
}
//bank account icon
.bank_account {
	background-position: -2px -226px;
	opacity: .6;
	@extend .icon--state;
}
//bar chart icon
.bar_chart {
	background-position: -2px -314px;
	opacity: .6;
	@extend .icon--state;
}
//pointing loans icon
.loans {
	background-position: 0px -393px;
	opacity: .6;
	@extend .icon--state;
}
//stop


// active icons 

//wallet
.wallet_active {
	background-position: 0px -63px;
	opacity: .9;
	@extend .icon--state;
}
//savings icon
.savings_active {
	background-position: 0px -7px;
	opacity: .9;
	@extend .icon--state;
}
//bank_account icon
.bank_account_active {
	background-position: 0px -7px;
	opacity: .9;
	@extend .icon--state;
}
//bar_chart icon
.bar_chart_active {
	background-position: 0px -7px;
	opacity: .9;
	@extend .icon--state;
}
//pointing loans icon
.loans_active {
	background-position: 0px -7px;
	opacity: .9;
	@extend .icon--state;
}

//stop

.history-content {
	padding-right:0px;
	height: 400px;
    width: 100%;
    background-color: $white;
    margin-bottom: 100px;
    border-radius: 5px;
    overflow: auto;
    padding-left:0;
}
.history-list {
		border-bottom: 0.2px solid grey;
		width:100%;
		display: block;
	    background: $white;
	    padding: 8px 5px;
	    border-bottom: 1px solid #e7e9eb;
	    line-height: 12px;
	    overflow: hidden;
	    cursor: pointer;
	    position: relative;
	    margin-left:0;
	    padding-left:0;

	ul {
		list-style: none;
		}
	}
.history-elements {
	font-size: 0.8rem;
}

.btn-background-none {
	background-color: transparent;
	color: black;
}
.primary-cta-btn {
	text-transform: uppercase;
}

.button {
	background-color: #primary-color;
}

.section-title-content {
	font-size: 16px;
	padding-left: 10px;
	background-color: $secbackground;
}
.chart-container {
	position: relative;
	width:100%;
	height:100%;
	margin:auto;
}
.vertical__center {
	line-height: 80px;
	margin:0;
}
.icon__size {
	width:1.5rem;
	padding: 0 0 20px 0;
}
.profile__conteiner {
	height:100%;
	width:100%;
}
.profile__conteiner-picture {
	border-radius: 15px;
	padding: 10px 0px 10px 0px;
	height: 6.1rem;
	width: 5.5rem;
}
.switch {
	display: inline-block;

	p {
		color:black;
		display: inline-block;
		position: relative;
		top: -11px;
		padding: 0 20px 0 0;
		padding: 0 20px 0 0;
		font-size: 1.5em;
	}
}
.products {
}